/*
* Airport delays main.css
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* clearfix */

.group:before, .group:after {
	content: "";
	display:table;
}

.group:after {
	clear:both;
}

.group {
	clear:both;
	*zoom: 1;
}

/* change the box model */

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing:inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

/* custom styles */

body {
	font-family: "Open Sans", sans-serif;
}
strong {
	font-weight: bold;
}

h1,h2,h3 {
	font-weight:300;
}

h1 {
	font-size:48px;
}

h2 {
	font-size:32px;
}

h3 {
	font-size:24px;
}

.container {
	max-width:960px;
	margin: 10px auto;
	padding:0 10px;
}

.logo {
	font-weight:700;
	letter-spacing:-3px;
	display:inline-block;
	margin:0 20px 0 0;
}

.tagline {
	font-size:16px;
	display:inline-block;
	margin-top:15px;
}

.primary-header {
	border-bottom:1px solid #F4F7F9;
	padding:30px 0;
}

.hero {
	padding: 100px 0;
	text-align:center;
	border-bottom:1px solid #F4F7F9;
}


.title, .subtitle {
	margin-bottom:30px;
}

.subtitle {
	line-height:40px;
}


.airport-select {
	min-width:75px;
}

.about {
	padding:50px 0;
	border-bottom:1px solid #F4F7F9;
}

.about p {
	margin-top:30px;
	line-height:22px;
}

.primary-footer {
	padding:50px 0;
}

/* mobile stuff */

@media only screen and (max-device-width: 480px) {
	.hero {
		padding:10px 0;
	}
	.primary-header {
		padding-top:10px;
	}
	h1 {
	font-size:36px;
	}

	h2 {
	font-size:24px;
	}

	h3 {
	font-size:18px;
	}
	.subtitle {
		line-height:24px;
	}
}