<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" ng-controller="AppController as vm" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WeatherTalk</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="dist/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="dist/styles/main.min.css">
</head>
<body>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <header class="header">

    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <h1>WeatherTalk</h1>
          <h4>Get today's weather and relevant tweets, together.</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <angucomplete-alt id="location"
                placeholder="Search Locations"
                pause="400"
                selected-object="vm.locationCallback"
                remote-api-handler="vm.findLocation"
                remote-url-data-field="RESULTS"
                title-field="name"
                input-class="form-control location-autocomplete">
          </angucomplete-alt>
        </div>
      </div>

    </div>

  </header>



  <div class="container content">
    <h4 ng-show="!vm.location">Please search for a location.</h4>
    <div ng-show="vm.location" ng-cloak>

      <section class="weather">
        <h3>Weather in {{ vm.location.city }}, {{ vm.location.state }}</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
              <forecast-day forecast="vm.forecast" location="vm.location">
              </forecast-day>
          </div>

          <div class="col-xs-12 col-sm-6">
            <img class="weather__radar" src="http://api.wunderground.com/api/f0980a3218b1a66d/animatedradar/q/{{vm.location.state}}/{{vm.location.city}}.gif?height=200&width=200&newmaps=1&delay=100&interval=60&rainsnow=1&noclutter=1&timelabel=1"/>
          </div>
        </div>

      </section>

      <section class="tweets">
        <div class="row">
          <div class="col-xs-12">
            <h4>What are people tweeting about the weather in {{vm.location.city}}?</h4>
            <a ng-show="!vm.connected" ng-click="vm.connectTwitter()" class="btn btn-info">Connect With Twitter</a>
            <p ng-if="!vm.weatherTweets">Looks like no one is tweeting about the weather in {{vm.location.city}}.</p>
          </div>
          <weather-tweet ng-show="vm.connected" ng-repeat="tweet in vm.weatherTweets" tweet="tweet"></weather-tweet>
        </div>
      </section>

    </div>

  </div>


  <footer class="footer">
    <div class="container">
      <p><small>&copy; Jordan Speizer 2016. Weather data courtesy of <a href="https://www.wunderground.com/">Weather Underground</a></small></p>
      <p><small><a ng-click="vm.disc()">Disconnect from Twitter</a></small></p>
    </div>
  </footer>


  <script src="dist/bower_components/angular/angular.min.js"></script>
  <script src="dist/bower_components/oauth-js/dist/oauth.min.js"></script>
  <script src="dist/bower_components/angucomplete-alt/dist/angucomplete-alt.min.js"></script>
  <!--<script src="dist/bower_components/angular-route/angular-route.js"></script> -->
  <script src="dist/scripts/app.min.js"></script>
</body>
</html>
